body {
    background-color: #fff4f4;
}

title{
    color: rgb(128,0,0);
}

h1 {
    color: rgb(128,0,0);
}


#ordem-paranormal{
    background-color: #e07f7f;
}

.correta{
    color: #840005;
}

.Ordem_paranormal h1{
    color: #840005;
}